<div class="card">
  <div class="card-body">
    <h1 class="title">{{title}}</h1>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="/heroes">Heroes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      </li>
    </ul>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-8">
          <div class="card">
            <div class="card-body">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <app-messages></app-messages>
            </div>
          </div>
        </div>
    </div>
</div>